= simple_form_for @form do |f|
  = f.input :name, placeholder: "Name", label: false
  = f.fields_for :players, include_id: false do |p|
    .row
      = p.input :id, label: "Player #{p.index + 1}", collection: Player.first(10)

  = f.button :submit, "Save Team", class: :expand

= @form.errors.messages
