.row.columns.small-12.medium-6.large-4
  - if @model.persisted?
    %h3.text-center Edit League
  - else
    %h3.text-center Start A League

  = simple_form_for @form do |f|
    = f.error_notification message: @form.errors.full_messages.to_sentence

    = f.input :name, placeholder: "Name", label: false, error: false

    %fieldset
      = f.fields_for :rounds do |r|
        = r.input :start_time, type: :datetime, error: false, required: false, label: "Start Time", input_html: { class: "datetime_input", value: r.object.start_time.try(:to_time).try(:strftime, "%Y/%m/%d %H:%M") }

    = f.button :submit

:coffeescript
  $ ->
    $('.datetime_input').datetimepicker(
      format: 'Y/m/d H:i',
      validateOnBlur: false
    )
