!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Fantasia"

    = render 'favicon'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    %header
      = concept "navigation/cell", OpenStruct.new(real_user: params[:real_user], current_user: params[:current_user], "signed_in?" => tyrant.signed_in?)
    %main{:role => "main"}
      = render 'layouts/messages'

      = yield
