.header
  %h1
    #{name}
    - if policy.(:edit?)
      = link_to "Edit League", edit_league_path(@model), class: "button"
    - if policy.(:input_scores?)
      = link_to "Input Scores", edit_league_path(@model), class: "button"
    - if policy.(:join?)
      = link_to "Join League", join_league_path(@model), class: "button"
    -# - if @operation.policy.(:delete?)
    -#   = link_to "Delete", league_path(@model), method: :delete

  %h3
    Start Time: #{start_time}

%table.teams
  - teams.each do |team|
    %tr{class: ("my-team" if team.owners.include?(params[:current_user]))}
      %td
        #{team.owners.map(&:email).join}
        - if team.owners.include? commissioner
          (Commissioner)
      %td
        #{team.name}
